<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

   <div class="container">
<br>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="jumbotron">
                 <h1>Start Here</h1>

                <p>Are you new to this?
		You require some background knowledge to build the best team?
                 Dont Worry!  We are here to help you! </p>
                <p><a href="http://www.theweek.co.uk/premier-league/59815/how-to-pick-a-perfect-premier-league-fantasy-football-team" class="btn btn-primary btn-lg">Learn More <i class="glyphicon glyphicon-chevron-right"></i></a>
                </p>
            </div>
        </div>
        <div class="col-md-4">
          <h2>Sign Up</h2>
            <hr>
          <form class="form-horizontal" role="form" methods="post" action="">
           <div class="form-group">
           <label for="inputEmail1" class="col-md-3 control-label">Email</label>
           <div class="col-md-9">
             <input type="email" class="form-control" id="inputEmail1" placeholder="Email" name="emails">
           </div>
           </div>
           <div class="form-group">
           <label for="inputPassword1" class="col-md-3 control-label">Password</label>
           <div class="col-md-9">
             <input type="password" class="form-control" id="inputPassword1" placeholder="Password" name="passw">
           </div>
           </div>
           <div class="form-group">
           <label for="inputPassword1" class="col-md-3 control-label">Verify</label>
           <div class="col-md-9">
             <input type="password" class="form-control" id="inputPassword2" placeholder="Password (again)">
           </div>
           </div>
           <div class="form-group">
           <div class="col-md-offset-3 col-md-9">
             <div class="checkbox">
               <label>
                 <input type="checkbox"> I agree with the <a data-toggle="modal" href="#tcModal">Terms and Conditions</a>
               </label>
             </div>
           </div>
           </div>
           <div class="form-group">
           <div class="col-md-offset-3 col-md-9">
             <button type="submit" class="btn btn-inverse" >Sign in</button>
           </div>
           </div>
          </form>
          
        </div>
    </div>
</div>



