{% extends 'layout.html' %}
<!--<!doctype html>
<html lang="en">
  <head>
     
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
    <title>Fifa 17</title>
     <style>
         body  {
    background: url('/static/img2.jpg');
    background-repeat: no-repeat;
    background-size: 1500px 900px;  
         }
      </style>	
  </head>
  <body>
    <h1 style="color:white">Build Your Own Team!</h1>
    <h1 style="colour: white; font-size:16px">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/buildteam">Build_Team</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="Your Account" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/yourteam">Your Team</a>
          <a class="dropdown-item" href="/login">Sign Out</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Reset Progress</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" >
      <input class="form-control mr-sm-2" type="search" placeholder="Search Player" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
-->

{% block body %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<style>
body  {

    background: url('/static/img2.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: cover;
         }
       </style>
<div class = "row">
<div class="col-sm-12"><p>                
                         
                          </p></div>
<div class="col-sm-4"></div>
<div class="col-sm-8"><h1 style="color:white">About The Game</h1></div>

<div class="col-sm-1"></div>
<div class="col-sm-4">
<h4 style="color:white">Football : In General</h4>
<p style="color:white">Football is a family of team sports that involve, to varying degrees, kicking a ball with a foot to score a goal. Unqualified,
 the word football is understood to refer to whichever form of football is the most popular in the regional context in which the word appears. </p>
</div>
<div class="col-sm-2">
<p>                             
                     </p></div>
<div class="col-sm-4">
<h4 style="color:white">Your Role</h4>
<p style="color:white">Test your knowledge.Be the manager of your team!Build your own team.
Try selecting the best players that fit in your budget.Improve your skills, Earn more money,
Enhance your level, Expand the range of players you can buy to build your team.Your team will
be tested on all the factors.So select your players wisely, not by just the name, but by their
attributes.
</p></div>
</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
{% endblock %}
